@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --border-radius: 6px;
  --border-radius-two: 16px 16px 0px 0px;

  /*------- Light theme -------*/
  --light-bg-color: #fafafa;
  --light-btn-color: #6e6e6e;
  --light-header-color: #555555;
  --light-subtext-color: #5a5a5a;

  --btn-hover-color: #333;
  --btn-border-color: 1px solid #86868681;

  /*------- box shadow -------*/

  --box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.034);
  --box-shadow-card: 0 2px 44px 0 rgba(0, 0, 0, 0.14);
  --rainbow-bg-color: linear-gradient(to right, rgb(0, 255, 242) 25%, rgb(255, 38, 0) 25% 50%, rgb(0, 238, 255) 50% 75%, rgb(255, 187, 0) 75%);
}

.transitions {
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

body {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--light-header-color);
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--dark-bg-color);
  background-color: var(--light-bg-color);
}

/* ------- Header ------- */
.navbar {
  display: flex;
  flex-direction: row;
  padding: 1.6rem 10rem;
  justify-content: flex-end;
}

.navbar__logo {
  position: absolute;
  width: 4.5rem;
  left: 10rem;
  top: 0.85rem;
}

.navbar__nav {
  margin: 1.5rem;
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

.nav__raindow {
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 1px;
  position: relative;
  background: var(--rainbow-bg-color);
}

/* ------- Section ------- */
h1,
h2 {
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--light-header-color);
}

h2 {
  width: 11rem;
  margin: 5rem auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #333;
}

h3 {
  margin: 1rem 0;
  font-weight: 900;
  color: var(--light-subtext-color);
}

.emoji {
  font-size: 1.5rem;
}

section {
  display: flex;
  min-height: 75vh;
  flex-flow: column;
  justify-content: center;
}

/* ------- About me Section ------- */
.about-content {
  margin: 0 auto;
  text-align: center;
}

.about-content > p {
  max-width: 720px;
  line-height: 2.5rem;
  color: var(--light-subtext-color);
}

.about-content > * {
  padding-bottom: 1rem;
}
.about-content > img {
  width: 10rem;
}
.resume {
  display: block;
  width: 8rem;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  color: var(--light-btn-color);
  box-shadow: var(--box-shadow);
  border: var(--btn-border-color);
  border-radius: var(--border-radius);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.resume:hover {
  color: var(--btn-hover-color);
  transform: translate(0px, -4px) !important;
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.116);
}

/*------- Arrow -------*/
.arrow {
  position: relative;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: none;
  border-left: none;
  margin: 50px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  border-bottom: 1px var(--light-btn-color) solid;
  border-right: 1.5px var(--light-btn-color) solid;
}

.arrow:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-left: none;
  border-top: none;
  margin: -10px 0 0 -10px;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-bottom: 1px var(--btn-hover-color) solid;
  border-right: 1.2px var(--btn-hover-color) solid;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(30px, 30px);
  }
}

/* ------- Project Section ------- */
#projects {
  padding-top: 5rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  max-width: 450px;
  height: 500px;
  margin: 2rem 2rem;
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-two);
}

.card:hover {
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -12px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

.card__img {
  height: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-two);
}

.card__text {
  text-align: left;
  padding: 1rem 2rem;
}

.card__title {
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card__subtitle {
  font-weight: 100;
  line-height: 22px;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: var(--light-subtext-color);
}

.card__btn {
  margin-bottom: 1rem;
}

.btn__github,
.btn__demo {
  font-weight: 100;
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  color: var(--light-btn-color);
  border: var(--btn-border-color);
  border-radius: var(--border-radius);
}
.btn__github:hover,
.btn__demo:hover {
  color: var(--btn-hover-color);
  transform: translate(0px, -12px) !important;
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
}

.card__raindow {
  align-self: center;
  width: 100%;
  height: 1px;
  background: var(--rainbow-bg-color);
}

/* ------- Tools Section ------- */
.skill {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* ------- Hexagon Tools Icon ------- */
.hexagon-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  filter: var(--icon-shadow);
}

.hexagon-wrapper .hexagon {
  margin: 10px;
  width: 150px;
  height: 150px;
}

/* ------- Contact Section ------- */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  max-width: 800px;
  padding: 1rem 0rem;
  line-height: 3rem;
  color: var(--light-subtext-color);
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-two);
}

.contact-info {
  font-size: 1.1rem;
}

.contact-info img {
  position: relative;
  top: 0.3rem;
}

.contact-info__email {
  padding: 0.5rem 1rem;
  color: var(--light-subtext-color);
  border-radius: var(--border-radius);
}

.contact-info__location p {
  display: inline;
  padding: 0.5rem 1rem;
}

.contact-info__email:hover {
  border: 1px solid #bbbbbb81;
  transform: translate(0px, -12px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

.contact-info__email:after {
  position: relative;
  content: "»";
  opacity: 0;
  right: -10px;
  transition: 0.5s;
}

.contact-info__email:hover {
  padding-right: 2rem;
  /* padding-left: 10px; */
}

.contact-info__email:hover:after {
  opacity: 1;
  left: 10px;
}

.contact-icon-wrapper .contact-icon {
  width: 95px;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  border: var(--btn-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.034);
}

.contact-icon:hover {
  transform: translate(0px, -5px);
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
}

.contact-info,
.contact-header,
.contact-icon-wrapper {
  margin: 0 5rem;
}

.contact__raindow {
  position: relative;
  top: 16px;
  height: 1px;
  width: 100%;
  background: var(--rainbow-bg-color);
}

/* ------- footer ------- */
footer {
  margin-top: 10rem;
  width: 100%;
}

.raindow {
  height: 1px;
  background: var(--rainbow-bg-color);
}

.footer-emoji {
  width: 90px;
  margin-left: auto;
  margin-right: 1px;
  font-size: 1.5rem;
}

/* ------- @media  ------- */
@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 750px) {
  section {
    min-height: 100vh;
  }

  section:nth-child(n + 3) {
    min-height: 80vh;
  }

  .navbar__logo {
    display: none;
  }

  .navbar {
    font-size: 0.9rem;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.527);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .about-content {
    margin: 0 auto;
    padding: 2rem;
    font-size: 0.9rem;
  }

  .about-content > img {
    width: 8rem;
  }

  .card {
    margin: 1rem 1.25rem;
  }

  .card__img {
    height: 50%;
  }

  .card__text {
    padding: 0.5rem 2rem;
  }

  .contact {
    margin: 0;
    box-shadow: none;
    padding: 0rem 2rem;
  }

  .contact-info {
    margin-top: 0;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .contact-info,
  .contact-header,
  .hexagon-wrapper-contact {
    margin: 0rem;
  }

  #contact-me h2,
  .contact__raindow {
    display: none;
  }

  .hexagon-wrapper .hexagon {
    width: 6rem;
    margin: 0rem 0.5rem;
  }

  .contact-icon-wrapper {
    margin: 0rem;
  }
  .contact-icon-wrapper .contact-icon {
    width: 85px;
    margin-right: 0.5rem;
  }

  footer {
    margin-top: 100px;
  }

  .raindow {
    height: 2px;
  }
}
