/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(107, 107, 107);
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #fafafa;
  /* background: #0b1d2a; */
}

/* ------- Header ------- */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.6rem 10rem;
  border-bottom: 1px solid rgba(141, 141, 141, 0.13);
  box-shadow: 0 2px 4px 0 rgba(240, 240, 240, 0.582);
  /* -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1); */
}

.navbar__logo {
  position: absolute;
  width: 4.5rem;
  left: 10rem;
  top: 0.7rem;
}

.navbar__nav {
  margin: 1.5rem;
  color: inherit;
  text-decoration: none;
  /* border-bottom: 1px rgba(51, 51, 51, 0.151) solid; */
  font-weight: 500;
}

/* .--navleft {
  padding: 0 30px 5px 0;
}

.--navright {
  padding: 0 0px 5px 30px;
}
.--close {
  margin-left: 7rem;
} */

/* ------- Section ------- */
h1,
h2 {
  letter-spacing: 0.2rem;
  text-align: center;
  color: #555555;
}

h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 0.5rem;
  width: 11rem;
  margin: 5rem auto;
}

h3 {
  margin: 1rem 0;
  font-weight: 900;
}

.emoji {
  font-size: 1.5rem;
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 75vh;
}

/* ------- About me Section ------- */
.about-content {
  text-align: center;
  margin: 0 auto;
  /* padding: 5rem; */
  /* box-shadow: 0.1em 0.5rem 0.9rem 0.1rem rgb(230, 230, 230); */
  /* box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14); */
}

.about-content > p {
  max-width: 800px;
  line-height: 2.5rem;
}

.about-content > * {
  padding-bottom: 1rem;
}

.resume {
  display: block;
  color: #868686;
  margin: 1.5rem auto;
  width: 8rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #86868681;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.034);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.resume:hover {
  color: #333;
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.116);
  transform: translate(0px, -4px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

/* ------- Project Section ------- */
#projects {
  padding-top: 5rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: center;
  border-radius: 16px;
  max-width: 450px;
  height: 480px;
  padding: 3rem;
  margin: 2rem 1rem;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card__img {
  display: block;
  width: 15rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.card__img img {
  width: 100%;
}

.card__title {
  font-size: 1.5rem;
  color: #555555;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 900;
}

.card__subtitle {
  font-size: 0.9rem;
  color: #868686;
  margin-bottom: 2rem;
  line-height: 22px;
  text-align: left;
}

.card__btn > a {
  font-size: 0.9rem;
  color: #868686;
  text-align: left;
  border: 1px solid #86868681;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 1rem;
}

.card:hover {
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -12px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

.card__btn > a:hover {
  color: #555555;
}

/* ------- Tools Section ------- */
/* #tools {
  margin-top: 150px; /* ----------------4rem-------------------- FIX
} */

.skill {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* ------- Hexagon Tools Icon ------- */
.hexagon-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  filter: drop-shadow(1px 6px 10px rgba(119, 119, 119, 0.24));
}

.hexagon-wrapper .hexagon {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
  margin: 20px;
  width: 150px;
  height: 150px;
}
/* .hexagon:hover {
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -5px);
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
} */

/* ------- Contact Section ------- */
.contact {
  color: #525252;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  max-width: 800px;
  padding: 1rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  line-height: 3rem;
}
.contact-info {
  font-size: 1.1rem;
}
.contact-info__email img,
.contact-info__location img {
  color: rgb(255, 0, 0);
  position: relative;
  top: 0.3rem;
  margin-right: 1rem;
}

.contact-info a {
  color: #525252;
}

.hexagon-wrapper2 .hexagon2 {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
  margin: 20px 10px;
  width: 90px;
}
.hexagon2:hover {
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -5px);
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}
/* ------- footer ------- */
footer {
  margin-top: 10rem;
  width: 100%;
  /* 
  background: linear-gradient(to right, rgb(0, 255, 242) 25%, rgb(255, 38, 0) 25% 50%, rgb(0, 238, 255) 50% 75%, rgb(251, 255, 0) 75%); */
}
.raindow {
  height: 4px;
  background: linear-gradient(to right, rgb(0, 255, 242) 25%, rgb(255, 38, 0) 25% 50%, rgb(0, 238, 255) 50% 75%, rgb(255, 187, 0) 75%);
}
.footer-emoji {
  width: 90px;
  margin-left: auto;
  margin-right: 1px;
  font-size: 1.5rem;
}
/* ------- @media  ------- */

@media only screen and (max-width: 650px) {
  section {
    min-height: 100vh;
  }

  section:nth-child(n + 3) {
    min-height: 80vh;
  }
  .navbar__logo {
    display: none;
  }

  .navbar {
    display: none;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.527);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .about-content {
    margin: 0 auto;

    padding: 1rem;
  }

  .about-content > img {
    width: 40%;
  }
  .card {
    height: 480px;
    padding: 2rem;
    margin: 0.8rem 1rem;
  }
  .contact {
    margin: 0;
    box-shadow: none;
    padding: 0rem 2rem;
  }
  .contact-info {
    font-size: 1rem;
    margin-top: 0;
    margin-top: 1rem;
  }

  .contact-icon img {
    margin-top: 3rem;
    width: 6rem;
    padding: 0.5rem;
  }

  #contact-me h2 {
    display: none;
  }
  .skill {
    max-width: 600px;
  }
  .hexagon-wrapper .hexagon {
    margin: 10px;
    width: 100px;
    height: 100px;
  }
  .hexagon-wrapper2 .hexagon2 {
    width: 80px;
  }
  footer {
    margin-top: 100px;
  }
  .footer-emoji {
    width: 70px;
    margin-left: auto;
    margin-right: 0px;
    font-size: 1.2rem;
  }
  .raindow {
    height: 2px;
  }
}
/*------- Arrow -------*/

.arrow {
  position: relative;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: 50px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #797979 solid;
  border-bottom: 2px #797979 solid;
}

.arrow:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #333 solid;
  border-bottom: 1px #333 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(30px, 30px);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
