/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-emphasis: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(107, 107, 107);
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #fafafa;
}

#helloWorld {
  margin: 0 auto;
}
/* ------- Header ------- */

.navbar {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 20px;
  /* border-bottom: 1px solid rgba(141, 141, 141, 0.041); */
  box-shadow: 0 2px 4px 0 rgba(240, 240, 240, 0.582);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.navbar__logo {
  position: absolute;
  width: 4.5rem;
  margin: 0 auto;
  left: 60px;
  top: 20px;
}

.navbar__nav {
  display: inline-block;
  margin: 10px 20px;
  color: inherit;
  text-decoration: none;
  /* border-bottom: 1px #333 solid; */
  font-weight: 200;
}

/* .--navleft {
  padding: 0 30px 5px 0;
}

.--navright {
  padding: 0 0px 5px 30px;
}
.--close {
  margin-left: 7rem;
} */
/* ------- Section ------- */
h1,
h2 {
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #555555;
}

h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  width: 11rem;
  margin: 4rem auto;
}

h3 {
  margin: 1rem 0;
  font-weight: 900;
}

.emoji {
  font-size: 1.5rem;
}
section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 80vh;
  /* border: 1px solid rgb(168, 168, 168); */
}

/* ------- About me Section ------- */
.about-content {
  text-align: center;
  margin: 0 auto;
  padding: 5rem;
  /* box-shadow: 0.1em 0.5rem 0.9rem 0.1rem rgb(230, 230, 230); */
  /* box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14); */
}
.about-content > p {
  max-width: 800px;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
.about-content > img {
  padding-bottom: 1rem;
}
.resume {
  margin: 20px auto;
  width: 100px;
  font-size: 0.9em;
  border: 1px solid #86868681;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.034);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.resume > a {
  color: #868686;
}

.resume:hover {
  color: #333;
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.116);
  transform: translate(0px, -2px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

/* ------- Project Section ------- */
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  max-width: 1800px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: center;
  border-radius: 16px;
  max-width: 450px;
  height: 480px;
  padding: 3rem;
  margin: 2rem 1rem;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.card__img {
  display: block;
  width: 15rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.card__img img {
  width: 100%;
}

.card__title {
  font-size: 1.5rem;
  color: #555555;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 900;
}

.card__subtitle {
  font-size: 0.9rem;
  color: #868686;
  margin-bottom: 2rem;
  line-height: 22px;
  text-align: left;
}

.card__btn > a {
  font-size: 0.9rem;
  color: #868686;
  text-align: left;
  border: 1px solid #86868681;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 1rem;
}

.card:hover {
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -12px) !important;
  transition-delay: 0s !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition-delay: 0s;
}

.card__btn > a:hover {
  color: #555555;
}

/* ------- Tools Section ------- */
#tools {
  /* max-width: 100%; */
  margin-top: 150px;
}

.skill {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skill__icon img {
  max-width: 600px;
  margin: 0 auto;
}
/* ------- Contact Section ------- */
.contact {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 3rem;
  max-width: 800px;
  padding: 1rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.contact-info {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.contact-info a {
  color: #525252;
}

.contact-info > div {
  color: #525252;
  margin-bottom: 0.5rem;
}

.contact-icon img {
  width: 8rem;
  padding: 1rem;
}

/* ------- footer ------- */
footer {
  margin-top: 10rem;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, rgb(0, 255, 242) 25%, rgb(255, 38, 0) 25% 50%, rgb(0, 238, 255) 50% 75%, rgb(251, 255, 0) 75%);
}
/* ------- footer ------- */

@media only screen and (max-width: 650px) {
  section {
    min-height: 100vh;
  }
  .navbar__logo {
    display: none;
  }

  .navbar {
    display: none;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.527);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .about-content {
    margin: 0 auto;

    padding: 1rem;
  }

  .about-content > img {
    width: 40%;
  }

  .contact {
    margin: 0;
    box-shadow: none;
    padding: 0rem 2rem;
  }
  .contact-info {
    font-size: 1rem;
    margin-top: 0;
    margin-top: 1rem;
  }

  .contact-icon img {
    margin-top: 3rem;
    width: 6rem;
    padding: 0.5rem;
  }

  #contact-me h2 {
    display: none;
  }

  footer {
    margin-top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgb(0, 255, 242) 25%, rgb(255, 38, 0) 25% 50%, rgb(0, 238, 255) 50% 75%, rgb(251, 255, 0) 75%);
  }
}
