/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-emphasis: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(107, 107, 107);
  font-size: 1rem;
  letter-spacing: 1px;
}

#helloWorld {
  margin: 0 auto;
  text-align: center;
}
/* ------- Header ------- */

.navbar {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar__logo {
  width: 5rem;
  margin: 0 2rem;
}

.navbar__nav {
  display: inline-block;
  margin: 10px 20px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px #333 solid;
  font-weight: 100;
}

.--navleft {
  padding: 0 30px 5px 0;
}

.--navright {
  padding: 0 0px 5px 30px;
}
/* ------- About me Section ------- */

/* ------- Project Section ------- */

/* ------- Tools Section ------- */
#tools {
  /* max-width: 100%; */
}

.skill {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skill__icon {
  width: 8rem;
}
/* ------- Contact Section ------- */
.contact-info__icons img {
  width: 8rem;
}
